h1 {
    color: rgb(105, 62, 62);
}

body {
    background-color: rgb(41, 33, 33);
}

table {
    width: 200px;
    text-align: center;
    background: #fafafa;
    margin-left: auto;
    margin-right: auto;
}

th {
    text-align: left;
    background-color: rgb(57, 40, 40);
}

table,
th,
td {
    border: 1px solid rgb(11, 11, 11);
    border-collapse: collapse;
    padding: 5px;
    color: #9b9090;
}

tr:nth-child(even) {
    background-color: #463d3d;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

form,
div {
    padding: 5px;
    color: #5b4444;
}
